.slideshow {
	padding-top: 100px;
	margin: 0 -9px;
	text-align: center;
}

.slideshow img {
	width: 200px;
	padding: 0 9px;
	margin: 0 auto;
}

.slideshow p {
	font-size: 1em;
}

.slideshow > div {
	overflow: hidden;
}

.box  {
	background: rgba(246, 246, 246, 1);
	padding-top: 15px;
	padding-bottom:15px;
	padding-left: 20px;
	font-size: 15px;
	text-transform: none;
	cursor:pointer;
	border: 1px solid #d9d9d9;
	border-radius: 25px;
	margin-bottom: 20px;
}
.draw {
	display: none;
	background: #ffffff;
	padding: 20px;
	border-bottom: 1px solid #d9d9d9;
	border-left: 1px solid #d9d9d9;
	border-right: 1px solid #d9d9d9;
	color: #000000;
	padding-left:30px;
	border-radius: 25px;
}

.other{
	display: none;
}

.fixed-height {
	height: 350px;
}

@media(min-width: 768px) {
	.slideshow img {
		width: 280px;
	}

	.fixed-height {
		height: 250px;
	}
}